@tailwind base;
@tailwind utilities;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.font-1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.circle {
  border-radius: 50%;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

body::selection {
  background-color: white;
  color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10;
}

input::placeholder {
  text-align: center;
  font-size: x-large;
}

textarea::placeholder {
  text-align: center;
}

button:active {
  scale: 0.9;
}
.w-90{
  width: 70%;
}